@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    
    <div> 
        报错了
    </div>
    <div>
        报错原因：@ViewData["errorMsg"]
    </div>
    <div>
        报错原因：@Model.Exception.Message
    </div>
</body>
</html>
