
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error500</title>
</head>
<body>
    <div> 
        系统错误
    </div>
    <div>
        错误页面--@ViewBag.RequestUrl
    </div>
    <div>
        错误原因--@ViewBag.ErrorMsg
    </div>
</body>
</html>
