
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRight</title>
</head>
<body>
    <div> 
        您没有权限。   ----   @ViewBag.ErrorMsg
    </div>
</body>
</html>
